<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/filters-family.css">
    <title>Document</title>
</head>

<body>

    <section class="section-1">
        <div class="container-fluid filters-family-top-bg d-flex align-items-center">

            <div class="container filters-family-content d-flex align-items-center flex-column">

                <h1 class="text-white text-center">Filters Family</h1>


                <div class="d-none d-md-none d-lg-block">
                    <span><a href="/" class="home-link">Home</a></span>
                    <span><i class="bi bi-chevron-right" style="color: #FFC5CBBD;"></i></span>
                    <span class="filters-text">Filters Family</span>
                </div>

            </div>
    </section>


    <section>
        <div class="d-flex">
            <div class="">
                <p>Showing 1–12 of <%= totalProducts %> results</p>
            </div>
            <div class="ms-auto">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-white">
                                        <li><a class="dropdown-item" href="#">Sort by popularity</a></li>
                                        <li><a class="dropdown-item" href="#">Sort by latest</a></li>
                                        <li><a class="dropdown-item" href="#">Sort by price:high to low</a></li>
                                        <li><a class="dropdown-item" href="#">Sort by price:low to high</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>


    <section class="section-2">





        <div class="container-fluid">
            <% for (let i=0; i < productsSorted.length; i +=3) { %>
                <div class="row">
                    <% for (let j=i; j < i + 3 && j < productsSorted.length; j++) { %>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="/product?title=<%= productsSorted[j].title %>" class="text-decoration-none">
                                <div class="card" style="display: flex; flex-direction: column; height: 100%;">
                                    <img src="<%= productsSorted[j].imageUrl %>" class="card-img-top" alt="...">
                                    <div class="card-body" style="flex-grow: 1;">
                                        <h5 class="card-title">
                                            <%= productsSorted[j].title %>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>
    </section>

    <nav class="my-5">
        <ul class="pagination justify-content-center">
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/filters-family?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>

</body>

</html>