<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/filters-family.css">
    <title>Document</title>
</head>

<body>

    <section class="section-1">
        <div class="container-fluid filters-family-top-bg d-flex align-items-center">

            <div class="container filters-family-content d-flex align-items-center flex-column">

                <h1 class="text-white text-center">Filters Family</h1>


                <div class="d-none d-md-none d-lg-block">
                    <span><a href="/" class="home-link">Home</a></span>
                    <span><i class="bi bi-chevron-right" style="color: #FFC5CBBD;"></i></span>
                    <span class="filters-text">Filters Family</span>
                </div>

            </div>
    </section>


    <section class="my-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p class="d-none d-md-block d-lg-block d-xl-block">Showing 1–12 of <%= totalProducts %> results</p>
            </div>
            <div class="d-flex gap-3">
                <div class="d-flex align-items-center gap-2">
                    <span class="text-danger">
                        Show:</span>
                    <span class="show-item" <%=currentLimit===6? 'active' :'' %> onclick="updateLimit(6)">6</span>
                    <span class="show-item" <%=currentLimit===12?'active':'' %>onclick="updateLimit(12)">12</span>
                    <span class="show-item" <%=currentLimit===24?'active':'' %>onclick="updateLimit(24)">24</span>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example" onchange="updateSort(this.value)">
                        <option value="popularity" <%=sortProduct==='popularity' ?'selected': '' %>>Sort by popularity
                        </option>
                        <option value="latest" <%=sortProduct==='latest' ?'selected':'' %>>Sort by latest</option>
                        <option value="high-to-low" <%=sortProduct==='high-to-low' ?'selected':'' %>>Sort by price:high
                            to low</option>
                        <option value="low-to-high" <%=sortProduct==='low-to-high' ?'selected':'' %>>Sort by price:low
                            to high</option>
                    </select>
                </div>

            </div>
        </div>
    </section>


    <section class="section-2">





        <div class="container-fluid d-none d-md-block d-lg-block"> <!-- Group by 3 for large screens -->
            <% for (let i=0; i < productsSorted.length; i +=3) { %>
                <div class="row">
                    <% for (let j=i; j < i + 3 && j < productsSorted.length; j++) { %>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="/product?title=<%= productsSorted[j].title %>" class="text-decoration-none">
                                <div class="card" style="display: flex; flex-direction: column; height: 100%;">
                                    <img src="<%= productsSorted[j].imageUrl %>" class="card-img-top" alt="...">
                                    <div class="card-body flex-grow-1 d-flex flex-column-reverse">
                                        <h5 class=" text-center">
                                            <%= productsSorted[j].title %>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>

        <div class="container-fluid d-block  d-md-none d-lg-none d-xl-none"> <!-- Group by 2 for medium screens -->
            <% for (let i=0; i < productsSorted.length; i +=2) { %> <!-- Group by 2 for small screens -->
                <div class="row">
                    <% for (let j=i; j < i + 2 && j < productsSorted.length; j++) { %>
                        <!-- Adjust inner loop for 2 items per row -->
                        <div class="col-md-4 col-6 mb-4">
                            <a href="/product?title=<%= productsSorted[j].title %>" class="text-decoration-none">
                                <div class="card" style="display: flex; flex-direction: column; height: 100%;">
                                    <img src="<%= productsSorted[j].imageUrl %>" class="card-img-top" alt="...">
                                    <div class="card-body flex-grow-1 d-flex flex-column-reverse">
                                        <h5 class="card-title text-center ">
                                            <%= productsSorted[j].title %>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>

    </section>

    <nav class="my-5">
        <ul class="pagination justify-content-center">
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/filters-family?page=<%= i %>&limit=<%= currentLimit %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>

    <script src="/js/filters-family.js"></script>
</body>

</html>