<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-12 col-md-6">
            <img id="zoom-01" class="img-fluid" src="<%= product.imageUrl %>" alt="">
        </div>
        <div class="col-12 col-md-6">

            <h1>


                <%= product.title %>
            </h1>
            <p>
                <%= product.description %>
            </p>
            <p><b>make:</b>
                <%= product.make || "not available" %>
            </p>
            <p><b>model:</b>
                <%= product.model || "not available" %>
            </p>
            <p><b>filtertype:</b>
                <%= product.filtertype|| "not available" %>
            </p>
            <p><b>year:</b>
                <%= product.year||"not available" %>
            </p>
            <p><b>partno:</b>
                <%= product.partno|| "not available" %>
            </p>
            <p><b>oemno:</b>
                <%= product.oemno||'not available' %>
            </p>
        </div>
    </div>
</body>
<script src="/js/product.js"></script>

</html>