<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <title>Document</title>
</head>


<body style="background-color: #FCFCFC;">
    <section class="section-1">
        <div class="container-fluid product-top-bg d-flex align-items-center">

            <div class="container product-content d-flex align-items-center flex-column">

                <h1 class="text-white text-center">Filters Family</h1>


                <div class="d-none d-md-none d-lg-block">
                    <span><a href="/" class="home-link">Home</a></span>
                    <span><i class="bi bi-chevron-right" style="color: #FFC5CBBD;"></i></span>
                    <span class="filters-text"><a href="/filters-family"
                            class="text-decoration-none filters-text home-link">Filters
                            Family</a></span>
                    <span><i class="bi bi-chevron-right" style="color: #FFC5CBBD;"></i></span>
                    <span class="filters-text">
                        <%= product.title %>
                    </span>
                </div>

            </div>
    </section>
    <section class="section-2">

        <div class="container-fluid">

            <% const currentIndex=rightLeftProducts.findIndex(product=> product.title === currentProduct.title);
                const prevIndex = currentIndex > 0 ? currentIndex - 1 : null;
                const nextIndex = currentIndex < rightLeftProducts.length - 1 ? currentIndex + 1 : null; %>

                    <div class="d-flex justify-content-between">
                        <div>
                            <% if (prevIndex !==null) { %>
                                <a href="/product?title=<%= rightLeftProducts[prevIndex].title %>">
                                    <i class="bi bi-chevron-left" style="font-size: 40px; color: #626262;"></i>
                                </a>
                                <% } %>
                        </div>

                        <div>
                            <a href="/filters-family" class="text-decoration-none">
                                <i class="bi bi-grid" style="font-size: 40px; color: #626262;"></i>
                            </a>
                        </div>

                        <div>
                            <% if (nextIndex !==null) { %>
                                <a href="/product?title=<%= rightLeftProducts[nextIndex].title %>">
                                    <i class="bi bi-chevron-right" style="font-size: 40px; color: #626262;"></i>
                                </a>
                                <% } %>
                        </div>
                    </div>
        </div>
    </section>

    <section class="section-3">

        <div class="container my-5">
            <div class="row g-3">


                <div class="col-12 col-md-7">
                    <div class="image-container">
                        <img id="zoom-01" class="img-fluid zoom-img" src="<%= product.imageUrl %>" alt="">

                    </div>
                </div>
                <div class="col-12 col-md-5 text-center">

                    <h1 class="h1-title">


                        <%= product.title %>
                    </h1>
                    <p style="color: #626262;">
                        <b style="color: #696969;">Description: </b>
                        <%= product.description %>
                    </p>

                    <p class="my-2" style="color: #626262;"><b style="color: #696969;">Guard Part No:</b>
                        <%= product.partno|| "not available" %>
                    </p>
                    <p style="color: #626262;"><b style="color: #696969;">OEM NO:</b>
                        <%= product.oemno||'not available' %>
                    </p>
                    <p class="mt-3" style="color: red;">
                        Category: <span><a href="/filters-family" class="text-decoration-none"
                                style="color: #626262;">Filters
                                Family</a></span>
                    </p>
                    <br>
                    <span>
                        <hr style="color: #626262;">
                    </span>
                    <div class="d-flex justify-content-center gap-3">
                        <p style="display: inline;color: #626262;"> Share</p>
                        <a href="">

                            <i class="bi bi-facebook btn-fb"></i>
                        </a>
                        <a href="">

                            <i class="bi bi-twitter btn-twitter"></i>
                        </a>
                        <a href="">

                            <i class="bi bi-linkedin btn-in"></i>
                        </a>
                        <a href="">

                            <i class="bi bi-pinterest btn-pin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-4 my-5">
        <div class="container">
            <div class="product-data">
                <div style="display: flex; align-items: center;">
                    <p ">Make</p>
                    <hr style=" flex-grow: 1; margin: 0 10px; border: none; border-top: 1px solid #626262;">
                    <p style="margin: 0; color: #626262;">
                        <%= product.make || "not available" %>
                    </p>
                </div>
                <div class="my-3" style="display: flex; align-items: center;">
                    <p>Model</p>
                    <hr style="flex-grow: 1; margin: 0 10px; border: none; border-top: 1px solid #626262;">
                    <p style="margin: 0; color: #626262;">
                        <%= product.model || "not available" %>
                    </p>
                </div>
                <div style="display: flex; align-items: center;">
                    <p>Filter Type</p>
                    <hr style="flex-grow: 1; margin: 0 10px; border: none; border-top: 1px solid #626262;">
                    <p style="margin: 0; color: #626262;">
                        <%= product.filtertype || "not available" %>
                    </p>

                </div>

            </div>
        </div>

    </section>

    <section class="section-5">
        <div class="container">

            <hr style="border-top: 1px solid #626262;">
        </div>
    </section>

    <section class="section-5 my-5">
        <div class="container">

            <h3>Related Products</h3>
            <div class="row">
                <% relatedProduct.forEach((related, index)=> { %>
                    <div class="col-6 col-md-4">
                        <a class="text-decoration-none" href="/product?title=<%= related.title %>">
                            <div class="d-flex flex-column" style="height: 100%;">

                                <img class="img-fluid" src="<%= related.imageUrl %>" alt="<%= related.title %>">
                                <div class="flex-grow-1 d-flex flex-column-reverse">

                                    <h4 class="text-center title-container" style="color: #20232C;">
                                        <%= related.title %>
                                    </h4>
                                </div>

                            </div>
                        </a>
                    </div>

                    <!-- Clear the row after every 3 items -->
                    <% if ((index + 1) % 3===0) { %>
            </div>
            <div class="row">
                <% } %>
                    <% }); %>
            </div>



        </div>

    </section>



    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Include ez-plus -->

    <script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
    <script>


        $(document).ready(function () {
            $("#zoom-01").ezPlus({
                zoomType: "inner",
                cursor: "crosshair",
                // scrollZoom: true,
                // easing: true,
                borderSize: 0,
            });

        });



    </script>

</body>

</html>