<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/singleFilter.css">
    <title>Document</title>
</head>

<body>
    <section class="section-1 mb-5">
        <div class="container-fluid filters-family-top-bg d-flex align-items-center">

            <div class="container filters-family-content d-flex align-items-center flex-column">
                <h1>
                    <%= filter.length %> products found
                </h1>

                <h1 class="text-white text-center">Filters Family</h1>


                <div class="d-none d-md-none d-lg-block">
                    <span><a href="/" class="home-link">Home</a></span>
                    <span><i class="bi bi-chevron-right" style="color: #FFC5CBBD;"></i></span>
                    <span class="filters-text">Filters Family</span>
                </div>

            </div>
    </section>



    <section class="section-2">





        <div class="container-fluid d-none d-md-block d-lg-block"> <!-- Group by 3 for large screens -->
            <% for (let i=0; i < filter.length; i +=3) { %>
                <div class="row">
                    <% for (let j=i; j < i + 3 && j < filter.length; j++) { %>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="/product?title=<%= filter[j].title %>" class="text-decoration-none">
                                <div class="card" style="display: flex; flex-direction: column; height: 100%;">
                                    <img src="<%= filter[j].imageUrl %>" class="card-img-top" alt="...">
                                    <div class="card-body flex-grow-1 d-flex flex-column-reverse">
                                        <h5 class="card-title text-center">
                                            <%= filter[j].title %>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>

        <div class="container-fluid d-block  d-md-none d-lg-none d-xl-none"> <!-- Group by 2 for medium screens -->
            <% for (let i=0; i < filter.length; i +=2) { %> <!-- Group by 2 for small screens -->
                <div class="row">
                    <% for (let j=i; j < i + 2 && j < filter.length; j++) { %>
                        <!-- Adjust inner loop for 2 items per row -->
                        <div class="col-md-4 col-6 mb-4">
                            <a href="/product?title=<%= filter[j].title %>" class="text-decoration-none">
                                <div class="card" style="display: flex; flex-direction: column; height: 100%;">
                                    <img src="<%= filter[j].imageUrl %>" class="card-img-top" alt="...">
                                    <div class="card-body flex-grow-1 d-flex flex-column-reverse">
                                        <h5 class="card-title text-center ">
                                            <%= filter[j].title %>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>

    </section>
</body>

</html>